body {
  height: 100vh;
  width: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

button {
  background-color: lightgray;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

.weather-container {
  font-family: monospace;
  display: flex;
  width: 120px;
  padding: 95px;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}
